@font-face {
    font-family: 'Nahid';
    src: url('../fonts/Nahid-FD.eot');
    src: url('../fonts/Nahid-FD.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nahid-FD.woff') format('woff'),
        url('../fonts/Nahid-FD.ttf') format('truetype');
    font-weight: normal;
}

body {
    direction: rtl;
    font-family: 'Nahid';
    background-color: #fff;
}

.ff-en {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dir-ltr {
    direction: ltr;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 65px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    z-index: 3;
}

.main {
    padding-top: 65px;
    height: 100vh;
}

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #fff;
    border-left: 1px solid #efefef;
    position: fixed;
    top: 65px;
    right: 0;
    z-index: 2;
}

.content {
    padding: 45px 345px 45px 45px;
}

.section {
    margin-bottom: 150px;
}

.section .section-title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 25px;
}

.section .section-content .desc {
    color: #7e7e7e;
    line-height: 30px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .content {
        padding-right: 45px;
    }
}